.navbar-bg {
  background-color: var(--grey);
}
.main-logo {
  width: 125px;
  height: 60px;
}
.main-logo img {
  width: 125px;
  height: 60px;
  object-fit: cover;
}
.nav-menu ul li {
  list-style: none;
  font-weight: 700;
  padding: 4px 8px;
  font-size: 14px;
}
.nav-menu ul li:hover {
  background-color: var(--dark-grey);
  border-radius: 10px;
  cursor: pointer;
}
.get-estimate {
  background-color: var(--secondary);
  color: var(--white);
  padding: 4px 10px;
  border-radius: 10px;
  border: none;
}
.get-estimate:hover {
  background-color: var(--secondary-dark);
}
.hamburger {
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.hamburger img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.regular {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.regular:hover {
  background-color: var(--grey);
}

@media only screen and (min-width: 567px) {
  .main-logo {
    width: 176px;
    height: 70px;
  }
  .get-estimate {
    padding: 5px 15px;
  }
  .nav-menu ul li {
    list-style: none;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 14px;
  }
}
