.footer {
  background-color: var(--black);
  padding-bottom: 10px;
}
.copyright {
  color: var(--white);
  font-size: 10px;
}
.footer-text {
  text-align: justify;
  font-size: 13px;
}
.footer-section {
  flex: 1;
}
.footer-section ul li {
  list-style: none;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}
