.primary-card {
  width: 280px;
  height: 340px;
  background-color: var(--primary);
  border-radius: 15px;
  overflow: hidden;
}
.card-header {
  color: var(--white);
  padding: 27px 0 48px 0;
}
.card-img {
  width: 280px;
  height: 242px;
  border-radius: 15px;
  overflow: hidden;
}
.card-img img {
  height: 245px;
  width: 280px;
  object-fit: cover;
}
